<h1>BlackJack</h1>

<h5>Make a bet for this round up to $<%= session[:player_funds].to_i %>.</h5>

<form action='/bet' method='post'class='form-inline'>
  <input type='text' name='player_bet'>
  <button type="submit" class='btn btn-primary'>Bet!</button>
</form>