<h1>BlackJack</h1>

<h5>Make a bet (between $0 and your <%= session[:player_funds] %>.</h5>

<form action='/game/bet' method='post'class='inline-form'>
  <input type='text' name='player_bet'>
  <button type="submit" class='btn btn-primary'>Bet!</button>
</form>