<h3>Welcome to BlackJack!</h3>
<h4>Please enter a player name</h4>
<hr/>
<form action='/new_player' method='post' class='form-inline'>
  <input type="text" name="player_name" placeholder="Name"/>
  <button type="submit" class='btn btn-inverse btn-small'>Submit!</button>
</form>
