<h4>Please enter a player name</h4>
<hr/>
<form action='/set_name' method='post' class='form-inline'>
  <input type="text" name="username" placeholder="Name"/>
  <button type="submit" class='btn btn-inverse btn-small'>Submit!</button>
</form>